@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;500;600;700&display=swap');

:root {
    --firstFont: 'Alata', sans-serif;
    --secondFont: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background: linear-gradient(rgba(4,9,30,0.9), rgba(4,9,30,0.5)), url(images/black.png);
    font-family: var(--firstFont);
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 450px;
    background: hsla(0, 0%, 0%, 0.3);
    border-radius: 8px;
}

.inner {
    background: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border-radius: 8px;
    padding: 30px;
}

.pfp {
    display: flex;
    align-items: center;
}

.pfp-col img {
    width: 60px;
    border-radius: 50%;
}

.name {
    color: white;
    font-size: 17px;
    margin-left: 30px;
}

.name p {
    line-height: 1.5;
}

.name p:nth-child(2) {
    font-size: 14px;
    color: grey;
}


.about-me p {
    color: white;
    font-weight: 400;
    margin-top: 30px;
}

.about-me p:nth-child(2) {
    position: absolute;
    bottom: 25px;
}

.fa-heart {
    margin-left: 5px;
}

.links {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.links-col {
    flex-basis: 100%;
    text-align: center;
    width: 100%;
}

.links-col ul li {
    list-style: none;
    border: 2px solid white;
    padding: 8px 0px;
    margin-left: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 white;
}

.links-col ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 300ms ease-in-out;
    position: relative;
    top: 3px;
}

.links-col ul li:hover::after {
    width: 35%;
}

.links-col:first-child ul li {
    margin-left: 0;
}

.links-col a {
    color: white;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

@media (min-width: 767px) {
    .hide-for-desktop {
        display: none;
    }
}

@media(max-width: 768px) {
    .hide-for-mobile {
        display: none;
    }

    .container {
        width: 350px;
        height: 600px;
    }
    
    .inner {
        width: 300px;
        height: 550px;
    }

    .links {
        display: block;
    }

    .links-col ul li {
        margin-left: 0;
        margin-top: 20px;
    }
}